@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:wght@100..900&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Inter";
  font-size: 1.125rem;
  background-color: #141414;
  color: #fff;
}

.container {
  width: 100%;
  margin: auto;
  max-width: 75rem;
  padding: 0 1.25rem;
}

.logo a {
  font-family: "Calistoga";
  font-size: 2.375rem;
  color: #fff;
  text-decoration: none;
}

.logo span {
  color: #fe6a0f;
}

/* HEADER */

header .container {
  display: flex;
  align-items: center;
  padding: 45px 20px;
  gap: 50px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
}

header nav .left {
  display: flex;
  flex: 1;
  color: #fff;
}

nav .left a {
  margin: 0 30px;
  color: #fff;
  text-decoration: none;
}

.left a:hover {
  color: #999;
}

header .nav__right .nav__btn {
  display: block;
  border: 1px solid #fff;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
}

.nav__right .nav__btn:hover {
  color: #999;
  border-color: #999;
}

.menu__hamburger {
  display: none;
  flex: 1;
  justify-content: flex-end;
}

header .menu__icon {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu__icon div {
  height: 6px;
  background: #fff;
}

/* HERO */
.hero .container {
  display: flex;
}

.hero .left__side,
.hero .right__side {
  flex: 1;
}

.hero .left__side {
  padding-bottom: 9.375rem;
}

.hero .right__side {
  text-align: center;
}

.hero .right__side img {
  width: auto;
  height: 600px;
}

.hero h1 {
  font-family: "Calistoga";
  font-size: 72px;
  line-height: 74px;
  font-weight: 100;
  margin-top: 50px;
}

.hero p {
  font-size: 20px;
  max-width: 392px;
  line-height: 26px;
  margin: 40px 0;
}

.hero .hero__btn {
  width: 280px;
  padding: 19px 83px;
  text-decoration: none;
  background: #fe6a0f;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
}

.hero__btn:hover {
  background: #ce5409;
}

/* SEARCH */

.search {
  padding: 80px 0;
  margin-top: -100px;
  background-color: #1f1f1f;
}

.search .search__title {
  max-width: 389px;
  font-size: 32px;
  font-weight: 500;
}

.search .search__sides {
  display: flex;
  margin-top: 30px;
  gap: 100px;
}

.search .search__leftside,
.search .search__rightside {
  flex: 1;
}

.search input,
.search select {
  width: 100%;
  background-color: #2b2b2b;
  color: #fff;
  font-size: 24px;
  outline: none;
  padding: 20px;
  border: 0;
  border-radius: 5px;
}

.search input {
  background-image: url(../img/searchIcon.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  padding-left: 50px;
}
.search select {
  border-right: 20px solid transparent;
}

/* RESPONDIVO */

@media (max-width: 820px) {
  header nav {
    display: none;
  }
  header .menu__hamburger {
    display: flex;
  }

  .hero .container {
    flex-direction: column;
  }

  .container .left__side {
    text-align: center;
    padding-bottom: 40px;
  }

  .hero .right__side {
    padding-bottom: 30px;
  }

  .hero h1 {
    font-size: 44px;
    font-weight: 50px;
  }

  .search {
    padding-bottom: 30px;
  }

  .hero .right__side img {
    height: 300px;
  }

  .search .search__title {
    text-align: center;
  }

  .search .search__sides {
    flex-direction: column;
    gap: 20px;
  }
}
